/*
Theme Name: Signature Cuba Travel Theme
Author: Alfredo Egüeed Guerra
Author URI: http://ultraweb.es/
Description: Tema creado para la web Signature Cuba Travel.
Version: 1.0
*/

/*General*/
body{
    background-color: #f8f8f8;
    color: #353535;
}

a:hover{text-decoration: none;}

/*Header*/
.header-top{background-color:rgba(0,0,0,0.3); transition: all 1s ease;}
.header-top.bg-secundary{background-color: #00abd6; transition: all 1s ease;}

.navbar-brand img{max-height: 64px; transition: all 1s ease;}
.header-top.bg-secundary .navbar-brand img{max-height: 32px; transition: all 1s ease;}

.bg-header-home { min-height: 600px; }

.bg-header-home > nav{padding: 15px 30px;}

/*Home Header Center Menu*/
.header-center-menu{ position: relative; margin-top: 30px; }
.header-center-menu .navbar{position: absolute; top: 0; width: 100%; padding: 15px 60px;}

.nav-home-center{width: 100%;}
.nav-home-center .nav-item{margin: 0 5px;}
.nav-home-center .nav-item a{color: white; text-transform: uppercase; font-size: 14px; padding: .5rem 0;}
.nav-home-center .nav-item.active a,
.nav-home-center .nav-item a:hover{
    background-color: #ff7300;
    box-shadow: 4px 4px 7px -1px darkslategrey;
    -moz-box-shadow: 4px 4px 7px -1px darkslategrey;
    -webkit-box-shadow: 4px 4px 7px -1px darkslategrey;
}

/*Social Links*/
.social-links{
    padding: 0 15px;
    text-align: center;
    list-style: none;
}

.social-links a {
    color: white;
    padding: 0 6px;
    border-radius: 50%;
}

.social-links a:hover{text-decoration: none;}

/*Search Form*/
.searchform{
    position: absolute;
    top: -30px;
    min-width: 360px;
    max-width: 480px;
    padding: 0 5px 0 30px;
    background-color: white;
}
.searchform .form-group{margin-bottom: 0;}
.searchform .form-control{border-bottom: solid 1px #00a8da !important;}
.searchform .btn{background-color: transparent; color: #00a8da;}
.searchform .form-control:focus,
.searchform .btn:focus{box-shadow: none;}

/*Content Page*/
.content-page{background-color: white;}
.content-page .content-body{
    padding: 60px;
    text-align: justify;
}

/*Content Titles*/
.content-title{margin: 15px auto}

.content-title h2,
.content-title h3,
.content-title h4{color: #ff7200;}

.content-title .divider h3{ margin: 0 30px;}

.divider {
    display: table;
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin: 40px auto;
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 40%;
    top: 15px;
    -moz-background-size: 100% 2px;
    background-size: 100% 1px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#ff7200));
    background-image: -webkit-linear-gradient(180deg, transparent, #ff7200);
    background-image: -moz-linear-gradient(180deg, transparent, #ff7200);
    background-image: -o-linear-gradient(180deg, transparent, #ff7200);
    background-image: linear-gradient(90deg, transparent, #ff7200);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7200), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #ff7200, transparent);
    background-image: -moz-linear-gradient(180deg, #ff7200, transparent);
    background-image: -o-linear-gradient(180deg, #ff7200, transparent);
    background-image: linear-gradient(90deg, #ff7200, transparent);
}

/*Itineraries Cols*/
.itineraries-cols .item,
.destinations-cols .item{
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.itineraries-cols .item .item-title{
    position: absolute;
    width: 100%;
    padding: 15px;
    bottom: 0;
}

.itineraries-cols .item .item-title .content{
    position: relative;
    background-color:rgba(182,184,176,0.7);
    height: 100%;
    padding: 15px 15px 0;
}

.itineraries-cols .item .item-title a{color: #353535;}

/*Destinations Cols*/
.destinations-cols{margin: 0;}
.destinations-cols > div{padding: 0 60px;}
.destinations-cols .item .item-title{width: 100%; color: white; font-size: 36px; text-transform: uppercase; position: absolute;}

/*Accordion*/
.accordion .card{margin-bottom: 30px; border: none;}
.accordion .card .card-body{padding-left: 32px;}
.accordion .card .card-header{background-color: transparent; border: none;}
.accordion .card .card-header h2 button{color: #ff9025; text-align: left;}
.accordion .card .card-header h2 button span{
    position: absolute;
    right: 15px;
    top: 5px;
    color: #bebfbe;
}

/*Contact Form*/
.contact-form{
    background-image: url("images/form_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 60px;
}

input{height: 48px !important;}

input, textarea{
    border: none !important;
    border-radius: 0 !important;
}

textarea{resize: none;}

/*OWL Carousel*/
/*.owl-carousel.owl-loaded{padding: 0 60px;}*/
.owl-nav{
    position: absolute;
    top: 40%;
    font-size: 48px;
    width: 100%;
    /*margin-left: -60px;*/
}
.owl-next, .owl-prev{
    color: #393939 !important;
    display: inline-block;
    cursor: pointer;
}
.owl-prev{margin-left: -60px;}
.owl-next{float: right; margin-right: -60px;}
.owl-next:hover, .owl-prev:hover{color: #d69045;}

/*Footer*/
footer{
    background-color: #00abd6;
    padding: 15px;
    color: white;
}

footer ul.footer-nav{margin-top: 15px;}
footer ul.footer-nav a{color: white; text-transform: uppercase; padding: 0 1rem;}

footer .social-links{padding: 0; margin-top: 0;}
footer .social-links a{margin-left: 5px; padding-top: 0;}

/*Effects*/
img.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/*Responsive*/
@media (min-width: 320px) and (max-width: 768px){
    .header-top.fixed-top{position: relative; background-color: #00abd6;}
    .bg-header{background-size: auto;}
    .bg-header-home > nav {padding: 15px 0;}
    .navbar-brand{margin: 15px auto;}
    .social-links{margin-top: 0; justify-content: center !important;}
    .social-links a{margin-left: 0;}
    .header-center-menu{margin-top: 60px;}
    .header-center-menu .navbar{width: auto; padding: 0; background-color: yellow;}
    .destinations-cols{margin: 0 -15px;}
    .destinations-cols > div{padding: 0 15px;}
    .content-page .content-body{padding: 0;}
    footer p{margin-top: 30px;}
    footer ul.footer-nav li{width: 100%;}
    footer ul.footer-nav a{padding: 0;}
    footer .social-links{margin-top: 30px;}
    .contact-form{padding: 0 15px;}
}